<div class = "row">
  <div class = "col-sm-4 col-md-4">
    <%= simple_form_for ([project,ticket]) do |f| %>
        <p>
          <%= f.input :name %>
        </p>
        <p>
          <%= f.input :description %>
        </p>
        <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>
