<header>
    <h2><%= link_to "New Project", new_project_path, class: "new" %></h2>
</header>
<% @projects.each do |project| %>
    <div id = "projects">
      <h2><%= link_to project.name, project %></h2>
    </div>
<% end %>